#center_circle{
    width: 100px;
    height: 52px;
    background:#CD2E3A;
    border: #0047A0 solid;
    border-width: 0px 0px 50px 0px;
    border-radius: 100%;
    position: relative;
    top: 23px;
    left: 32%;;
}


#circle_blue{
    top: -10px;
    left: 50px;
    width: 50px;
    height: 40px;
    background:#0047A0;
    border-radius: 100%;
    position: relative;
}


#circle_red{
    top: 29px;
    left: 0px;
    width: 50px;
    height: 40px;
    background:#CD2E3A;
    border-radius: 100%;
    position: relative;


}

#container{
    width: 300px;
    height: 150px;
    background: #fff;;
    border: #000 solid;
}


#block_container{
    width: 35px;
    height: 20px;
    background: #fff;
    transform: translate(-50%, -50%) rotate(114deg);
    position: relative;
    top: -73px;
    left: 77px;

}


#block_container1{
    width: 38px;
    height: 20px;
    background: #fff;
    position: relative;
    top: -94px;
    left: 215px;
    transform: translate(-50%, -50%) rotate(-114deg);


}



#block_container2{
    width: 38px;
    height: 20px;
    background: #fff;
    position: relative;
    top: -24px;
    left: 80px;
    transform: translate(-50%, -50%) rotate(250deg);


}




#block_container3{
    width: 38px;
    height: 20px;
    background: #fff;
    position: relative;
    top: -43px;
    left: 216px;
    transform: translate(-50%, -50%) rotate(295deg);


}







#full_block{
    width: 34px;
    height: 4px;
    margin: 1px;
    background: #000;
    float:left;

}


#half_block{
    width: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 2.7px;
    margin-left: 1px;


    height: 4px;
    background: #000;
    position: relative;
    float: left;
}